{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #C5D4E3; }
	</style>
{% endblock %}


{% block title %}
HOLE IN ONE
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <img style="background: transparent; height: 200px; margin-top: 30px" src="{{url_for('static', filename='golf.jpg')}}"/>

      <h1 class="pt-5 pb-2">Let's play golf!</h1>
      <h2 class="pb-2">Can you hit a hole in one?</h2>

      <p class="lead pb-2">The wind is blowing NE at 5 ft/s. You are at point (0, 0). The hole is at (500, 500)ft away. Take your best swing.</p>

      {{ wtf.quick_form(form) }}

      <h3 style="color: #5400AD;" class="pt-5"><strong>{{ message }}</strong></h3>
      <img style="background: transparent; height: 200px; margin-top: 5px; display: {{initial}};" src="{{url_for('static', filename=image)}}"/>
      <p style="display: {{landed}};" class="lead pb-2">Your ball landed here: {{miss}}</p>

    </div>
  </div>
</div>

{% endblock %}
